body{
	border: 20px solid #bdc3c7;
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	padding: 20px;
	font-family: source sans pro;
	
}
.Border {border-left: 5px solid #bdc3c7;
			padding: 3px;}
.BorderBottom {border-bottom: 2px solid #f1f1f1;
				padding-bottom: 20px;}
.Date { color: #3498db;
		text-transform: uppercase;
		letter-spacing: 2px; }
h2{color: #2c3e50;}